$background: #1d2021;
$mainText: #f9f5d7;
$header1: #37AEC2;
$header2: #A1C854;
$header3: #F19846;
$header4: #CDCD23;

$strong: #F19846;

.gruvbox-dark {
    background-color: $background;
    color: $mainText;
}

.gruvbox-dark h1 {
    color: $header1;
}

.gruvbox-dark h2 {
    color: $header2;
}

.gruvbox-dark h3 {
    color: $header3;
}

.gruvbox-dark h4,
.gruvbox-dark h5,
.gruvbox-dark h6 {
    color: $header1;
}

.gruvbox-dark pre {
    border: none
}

.gruvbox-dark .progress-bar-filled:after,
.gruvbox-dark .progress-bar-filled:before,
.gruvbox-dark strong {
    color: $strong;
}

.gruvbox-dark .progress-bar-filled {
    background-color: #98971a
}

.gruvbox-dark table {
    color: #fdf4c1
}

.gruvbox-dark table td,
.gruvbox-dark table th {
    border-color: #b0bec5
}

.gruvbox-dark table tbody td:first-child {
    font-weight: bold;
}

.gruvbox-dark .form-control,
.gruvbox-dark .form-group label {
    color: #fdf4c1;
    border-color: #98971a
}

.gruvbox-dark .form-group.form-textarea label:after {
    background-color: #282828
}

.gruvbox-dark .form-control:focus {
    border-color: #bdae93;
    color: #bdae93
}

.gruvbox-dark textarea.form-control {
    color: #fdf4c1
}

.gruvbox-dark .card {
    border-color: #98971a
}

.gruvbox-dark .card .card-header {
    background-color: transparent;
    color: #fdf4c1;
    border-bottom: 1px solid #98971a
}

.gruvbox-dark .btn.btn-ghost.btn-default {
    border-color: #607d8b;
    color: #607d8b
}

.gruvbox-dark .btn.btn-ghost.btn-default:focus,
.gruvbox-dark .btn.btn-ghost.btn-default:hover {
    z-index: 1;
    border-color: #ebdbb2;
    color: #ebdbb2
}

.gruvbox-dark .btn.btn-ghost.btn-primary:focus,
.gruvbox-dark .btn.btn-ghost.btn-primary:hover {
    border-color: #689d6a;
    color: #689d6a
}

.gruvbox-dark .btn.btn-ghost.btn-success:focus,
.gruvbox-dark .btn.btn-ghost.btn-success:hover {
    border-color: #98971a;
    color: #98971a
}

.gruvbox-dark .btn.btn-ghost.btn-info:focus,
.gruvbox-dark .btn.btn-ghost.btn-info:hover {
    border-color: #458588;
    color: #458588
}

.gruvbox-dark .btn.btn-ghost.btn-error:focus,
.gruvbox-dark .btn.btn-ghost.btn-error:hover {
    border-color: #cc241d;
    color: #cc241d
}

.gruvbox-dark .btn.btn-ghost.btn-warning:focus,
.gruvbox-dark .btn.btn-ghost.btn-warning:hover {
    border-color: #d79931;
    color: #d79931
}

.gruvbox-dark .avatarholder,
.gruvbox-dark .placeholder {
    background-color: transparent;
    border-color: #3c3836
}

.gruvbox-dark .menu .menu-item {
    color: #fdf4c1;
    border-color: #98971a
}

.gruvbox-dark .menu .menu-item.active,
.gruvbox-dark .menu .menu-item:hover {
    color: #fdf4c1;
    border-color: #fdf4c1
}
