// Additional component styles

.container {
    max-width: 60rem;
}

.center {
    text-align: center;
}

.svg-icon {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

.right-text-container img {
    margin-right: 20px;
    height: auto;
    max-width: 100%;
    float: left;
}

.image-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

// iPhone back navigation
.iphone-back-nav {
    margin-bottom: 1em;
}

.iphone-back-nav a {
    display: inline-flex;
    align-items: center;
}

.iphone-back-nav svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
}

// Feed subscribe styles
.feed-subscribe a {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}
